
    <div class="col-6 py-2">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-dark">#</th>
                    <th class="table-dark">Marca</th>
                    <th class="table-dark">Linea</th>
                    <th class="table-dark">Modelo</th>
                </tr>
            </thead>
            <tbody>
                @for (item of vehiculos; track $index) {
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.marca}}</td>
                    <td>{{item.linea}}</td>
                    <td>{{item.modelo}}</td>
                </tr>
                }
            </tbody>
        </table>
        <div class="card">
            <div class="card-body">
                @for (item of cuentaMarcas?.entries(); track $index) {
                 <p>Total {{item[0]}}: {{item[1]}}</p>
                }
            </div>
        </div>
    </div>