<main class="container">
    <header class="border-bottom py-2"><h1 style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">TuSegundazo.com</h1></header>
    <img src="../assets/img/Frame 12.png" alt="encabezado" class="img-fluid border-bottom">
    
    <div class="row">
        <router-outlet></router-outlet>
    </div>
    
    <footer class="py-3 my-4">
        <p class="text-center text-body-secondary">Contact us: +57 3102105253 - info&#64;tusegundazo.com - &#64;tusegundazo</p>
      </footer>
</main>